<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />
        <link rel="stylesheet" th:href="@{/css/w3.css}"
              href="../../css/w3.css" />
    </div>

    <div th:fragment="header-js">
        <!-- this is header-js -->
        <script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" th:src="@{/js/main.js}" src="../../js/main.js"></script>
        <script type="text/javascript" th:src="@{/js/w3.js}" src="../../js/w3.js"></script>
    </div>

    <div th:fragment="header-chartjs">
        <!-- this is header-chart-js -->
        <script type="text/javascript" th:src="@{/js/Chart.bundle.js}" src="../../js/Chart.bundle.js"></script>
    </div>

</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Анкета :: Увильды</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/}">На главную</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>