<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Анкета :: Увильды</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.7"/>

    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-js"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div th:fragment="info-errors" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <p>Что-то пошло не так.. Обратитесь к администратору (стол с синим флажком). Ошибка:</p>
    <span th:text="${msg.msg}"></span>
    <!--<form id="userInfo" name="userInfo" th:action="@{/async/users/saveUserInfo}" th:object="${userInfo}" method="post">
        <div th:classappend="${#fields.hasErrors('name')}?has-error">
            <label class="control-label">First Name</label>
            <input th:field="*{name}" type="text" />
        </div>
        <div th:classappend="${#fields.hasErrors('email')}?has-error">
            <label class="control-label">Email</label>
            <input th:field="*{email}" type="text" />
        </div>
        <input type="submit" value="Save" />
    </form>-->
</div>

<div th:fragment="info-volunteer" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <p>Пройдите к координатору волонтёров (стол с красным флажком)</p>
</div>

<div th:fragment="info-toPay" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <p>Пройдите к столу с зелёным флажком для совершения оплаты</p>
</div>

</body>
</html>