﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Анкета :: Увильды</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>Tickets list
                <small>
                    <a th:if="!${all}" th:href="@{/ticket(all=true)}">All</a>
                    <a th:if="${all}" th:href="@{/ticket}">Not resolved</a>
                </small>
            </h1>
            <table class="table table-striped">
                <tr>
                    <td><label for="family">Фамилия:</label></td>
                    <td><input type="text" class="form-control" name="family" id="family"/></td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button class="btn btn-primary btn-block"><i class="glyphicon glyphicon-send"></i>Отправить
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
