﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Анкета :: Увильды</title>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-js"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<br/>

<div class="container">
    <input oninput="w3.filterHTML('#payData', '.item', this.value)" type="text"
           class="w3-input w3-animate-input" style="width:135px" placeholder="Быстрый поиск..."/>
    <br/>
    <br/>

    <table class="table table-striped table-bordered">
        <thead class="thead-inverse">
        <tr>
            <th style="cursor:pointer" onclick="w3.sortHTML('#payData', '.item', 'th:nth-child(1)')">#</th>
            <th style="cursor:pointer" onclick="w3.sortHTML('#payData', '.item', 'td:nth-child(2)')">ФИО </th>
            <th style="cursor:pointer" onclick="w3.sortHTML('#payData', '.item', 'td:nth-child(3)')">Полностью?</th>
            <th style="cursor:pointer" onclick="w3.sortHTML('#payData', '.item', 'td:nth-child(4)')">Сумма</th>
            <th style="cursor:pointer" onclick="w3.sortHTML('#payData', '.item', 'td:nth-child(5)')">Коментарий</th>
        </tr>
        </thead>
        <tbody id="payData">
            <tr class="item" th:each="payment : ${payments}">
                <th scope="row" th:text="${payment.id}">1</th>
                <td th:text="${payment.human.family + ' ' + payment.human.name + ' ' + payment.human.otch}">Иванов Иван Иванович</td>
                <td th:text="${payment.completely}">true</td>
                <td th:text="${payment.count}">4 700 р.</td>
                <td th:text="${payment.comment}">Комментарий</td>
                <td> <button class="w3-btn w3-round-large w3-green"
                             th:onclick="${'editPayment(' + payment.id + ')'}">Изменить</button> </td>
            </tr>
        </tbody>
    </table>

</div>

<div id="modalEdit" class="w3-modal">
    <div class="w3-modal-content w3-card-4">

        <header class="w3-container w3-teal">
            <span onclick="document.getElementById('modalEdit').style.display='none'"
                  class="w3-button w3-display-topright">&times;</span>
            <h3>Изменение записи</h3>
        </header>

        <form class="w3-container">
            <label class="w3-text-grey">№</label>
            <input class="w3-input w3-border" type="text"
                   placeholder="(Заполнится автоматически)" id="id" name="id" readonly="readonly"/>

            <label class="w3-text-grey">ФИО</label>
            <input class="w3-input w3-border" type="text" placeholder="ФИО"/>

            <label for="completely" class="w3-text-grey">Полностью?   </label>
            <input class="w3-check" type="checkbox" id="completely" name="completely"/>
            <br/>

            <label class="w3-text-grey">Сумма(руб)</label>
            <input class="w3-input w3-border" id="count" name="count" type="text" placeholder="Сумма(руб.)"/>

            <label class="w3-text-grey">Комментарий</label>
            <input class="w3-input w3-border" id="comment" name="comment" type="text" placeholder="Сумма(руб.)"/>
        </form>

        <footer class="w3-container w3-teal">
        </footer>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    var pays = [[${payments}]];
    /*]]>*/
</script>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
